<%= form_with(model: user_account, local: true) do |form| %>
  <% if user_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_account.errors.count, "error") %> prohibited this user_account from being saved:</h2>

      <ul>
      <% user_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :user_account_user_id %>
  </div>

  <div class="field">
    <%= form.label :gecos %>
    <%= form.text_field :gecos, id: :user_account_gecos %>
  </div>

  <div class="field">
    <%= form.label :home_dir %>
    <%= form.text_field :home_dir, id: :user_account_home_dir %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_account_password %>
  </div>

  <div class="field">
    <%= form.label :access_granted_date %>
    <%= form.text_field :access_granted_date, id: :user_account_access_granted_date %>
  </div>

  <div class="field">
    <%= form.label :access_suspended_date %>
    <%= form.text_field :access_suspended_date, id: :user_account_access_suspended_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
