<p id="notice"><%= notice %></p>

<h1>User Accounts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Gecos</th>
      <th>Home dir</th>
      <th>Password</th>
      <th>Access granted date</th>
      <th>Access suspended date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_accounts.each do |user_account| %>
      <tr>
        <td><%= user_account.user_id %></td>
        <td><%= user_account.gecos %></td>
        <td><%= user_account.home_dir %></td>
        <td><%= user_account.password %></td>
        <td><%= user_account.access_granted_date %></td>
        <td><%= user_account.access_suspended_date %></td>
        <td><%= link_to 'Show', user_account %></td>
        <td><%= link_to 'Edit', edit_user_account_path(user_account) %></td>
        <td><%= link_to 'Destroy', user_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Account', new_user_account_path %>
