<%= form_with(model: user_accounts_person, local: true) do |form| %>
  <% if user_accounts_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_accounts_person.errors.count, "error") %> prohibited this user_accounts_person from being saved:</h2>

      <ul>
      <% user_accounts_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :account_id %>
    <%= form.number_field :account_id, id: :user_accounts_person_account_id %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.number_field :person_id, id: :user_accounts_person_person_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
