<p id="notice"><%= notice %></p>

<h1>User Accounts People</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_accounts_people.each do |user_accounts_person| %>
      <tr>
        <td><%= user_accounts_person.account_id %></td>
        <td><%= user_accounts_person.person_id %></td>
        <td><%= link_to 'Show', user_accounts_person %></td>
        <td><%= link_to 'Edit', edit_user_accounts_person_path(user_accounts_person) %></td>
        <td><%= link_to 'Destroy', user_accounts_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Accounts Person', new_user_accounts_person_path %>
